@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
    /* custom fonts */
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* custom bg colors */
    --color-custom-bg-primary: #121315;
    --color-custom-bg-secondary: #f4f4f4;
    --color-custom-bg-gray: #eaeaea;
    --color-custom-bg-blur: #c4c4c4;
    --color-custom-gold: #ffc212;

    /* custom font colors */
    --color-custom-font-primary: #cdf72c;
    --color-custom-font-white: #ffffff;
    --color-custom-font-black: #000000;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-custom-font-black);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-custom-font-primary);
    border-radius: 6px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-custom-bg-secondary);
    color: var(--color-custom-font-black);
    font-family: var(--font-poppins);
}

/* * {
    border: 0.5px solid red;
} */
